### API is used for your program to communicate with other programs such as Pandas

In [98]:
import pandas as pd
import matplotlib.pyplot as plt

In [99]:
dict_={'a':[11,21,31],'b':[12,22,32]}

df=pd.DataFrame(dict_)
type(df)

pandas.core.frame.DataFrame

In [100]:
df.head()

    a   b
0  11  12
1  21  22
2  31  32

In [101]:
df.mean()

a    21.0
b    22.0
dtype: float64

Rest APIs are used to interact with Web Services this can be used to request data from crypto currencies

In [102]:
!pip install nba_api
from nba_api.stats.static import teams

Requirement already satisfied: nba_api in c:\users\sfauz\anaconda3\lib\site-packages (1.11.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\sfauz\anaconda3\lib\site-packages (from nba_api) (2.3.5)
Requirement already satisfied: pandas>=2.1.0 in c:\users\sfauz\anaconda3\lib\site-packages (from nba_api) (2.3.3)
Requirement already satisfied: requests<3.0.0,>=2.32.3 in c:\users\sfauz\anaconda3\lib\site-packages (from nba_api) (2.32.5)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\sfauz\anaconda3\lib\site-packages (from pandas>=2.1.0->nba_api) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\sfauz\anaconda3\lib\site-packages (from pandas>=2.1.0->nba_api) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\sfauz\anaconda3\lib\site-packages (from pandas>=2.1.0->nba_api) (2023.3)
Requirement already satisfied: charset_normalizer<4,>=2 in c:\users\sfauz\anaconda3\lib\site-packages (from requests<3.0.0,>=2.32.3->nba_api) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\sfauz\anaconda3\lib\site-packages (from requests<3.0.0,>=2.32.3->nba_api) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\sfauz\anaconda3\lib\site-packages (from requests<3.0.0,>=2.32.3->nba_api) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\sfauz\anaconda3\lib\site-packages (from requests<3.0.0,>=2.32.3->nba_api) (2024.2.2)
Requirement already satisfied: six>=1.5 in c:\users\sfauz\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas>=2.1.0->nba_api) (1.16.0)


The one_dict() function takes a list of dictionaries (each representing one team's details) and combines them into a single dictionary where each key contains a list of all corresponding values.

In [103]:
def one_dict(list_dict): 
    keys=list_dict[0].keys()
    out_dict={key:[] for key in keys}
    for dict_ in list_dict:
        for key, value in dict_.items():
            out_dict[key].append(value)
    return out_dict

In [104]:
nba_teams = teams.get_teams() # This is function from the api the returns the teams.
nba_teams[0:3] # Looks at the first three teams

[{'id': 1610612737,
  'full_name': 'Atlanta Hawks',
  'abbreviation': 'ATL',
  'nickname': 'Hawks',
  'city': 'Atlanta',
  'state': 'Georgia',
  'year_founded': 1949},
 {'id': 1610612738,
  'full_name': 'Boston Celtics',
  'abbreviation': 'BOS',
  'nickname': 'Celtics',
  'city': 'Boston',
  'state': 'Massachusetts',
  'year_founded': 1946},
 {'id': 1610612739,
  'full_name': 'Cleveland Cavaliers',
  'abbreviation': 'CLE',
  'nickname': 'Cavaliers',
  'city': 'Cleveland',
  'state': 'Ohio',
  'year_founded': 1970}]

To make things easier, we can convert the dictionary to a table. First, we use the function one dict, to create a dictionary. We use the common keys for each team as the keys, the value is a list; each element of the list corresponds to the values for each team. We then convert the dictionary to a dataframe, each row contains the information for a different team.

In [105]:
dict_nba_team=one_dict(nba_teams)
df_teams=pd.DataFrame(dict_nba_team)
df_teams.head()

,id,full_name,abbreviation,nickname,city,state,year_founded
0,1610612737,Atlanta Hawks,ATL,Hawks,Atlanta,Georgia,1949
1,1610612738,Boston Celtics,BOS,Celtics,Boston,Massachusetts,1946
2,1610612739,Cleveland Cavaliers,CLE,Cavaliers,Cleveland,Ohio,1970
3,1610612740,New Orleans Pelicans,NOP,Pelicans,New Orleans,Louisiana,2002
4,1610612741,Chicago Bulls,CHI,Bulls,Chicago,Illinois,1966

In [106]:
df_warriors=df_teams[df_teams['nickname']=='Warriors']
df_warriors # Basic just created a dataframe based on finding a team based on its nickname

,id,full_name,abbreviation,nickname,city,state,year_founded
7,1610612744,Golden State Warriors,GSW,Warriors,San Francisco,California,1946

In [107]:
id_warriors=df_warriors[['id']].values[0][0] # He were can return the tables first value which is the ID.
id_warriors

1610612744

In [108]:
from nba_api.stats.endpoints import leaguegamefinder
gamefinder = leaguegamefinder.LeagueGameFinder(team_id_nullable=id_warriors) # Here we are using the warriors ID we found before to find the games played by the warriors.
games = gamefinder.get_data_frames()[0] # Information of all the games thew warriors played from many seasons
games.head()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22025,1610612744,GSW,Golden State Warriors,0022500291,2025-11-24,GSW vs. UTA,W,241,134,...,0.722,16.0,34.0,50.0,34,11,5,10,14,17.0
1,22025,1610612744,GSW,Golden State Warriors,0022500056,2025-11-21,GSW vs. POR,L,240,123,...,0.867,9.0,23.0,32.0,29,14,4,13,25,-4.0
2,22025,1610612744,GSW,Golden State Warriors,0022500257,2025-11-19,GSW @ MIA,L,239,96,...,0.750,20.0,42.0,62.0,24,8,5,21,20,-14.0
3,22025,1610612744,GSW,Golden State Warriors,0022500249,2025-11-18,GSW @ ORL,L,239,113,...,0.786,6.0,30.0,36.0,26,11,3,18,18,-8.0
4,22025,1610612744,GSW,Golden State Warriors,0022500237,2025-11-16,GSW @ NOP,W,240,124,...,0.824,16.0,31.0,47.0,34,14,4,21,23,18.0

In [109]:
games_home=games[games['MATCHUP']=='GSW vs. TOR'] # Differentiating between home and away games.
games_away=games[games['MATCHUP']=='GSW @ TOR']

In [110]:
games_home['PLUS_MINUS'].mean() # As we can see the warriors were way better at home based on this indicator.

3.064516129032258

In [111]:
games_away['PLUS_MINUS'].mean()

-1.935483870967742

<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# Hands-on Lab: API Examples
## Random User and Fruityvice API Examples


Estimated time needed: **30** minutes

## Objectives

After completing this lab you will be able to:

*   Load and use RandomUser API, using `RandomUser()` Python library
*   Load and use Fruityvice API, using `requests` Python library
*   Load and use Open-Joke-API, using `requests` Python library

One of the applications we will use in this notebook is Random User Generator. RandomUser is an open-source, free API providing developers with randomly generated users to be used as placeholders for testing purposes. This makes the tool similar to Lorem Ipsum, but is a placeholder for people instead of text. The API can return multiple results, as well as specify generated user details such as gender, email, image, username, address, title, first and last name, and more. More information on RandomUser can be found here.

## **Get Methods**

- get_cell()
- get_city()
- get_dob()
- get_email()
- get_first_name()
- get_full_name()
- get_gender()
- get_id()
- get_id_number()
- get_id_type()
- get_info()
- get_last_name()
- get_login_md5()
- get_login_salt()
- get_login_sha1()
- get_login_sha256()
- get_nat()
- get_password()
- get_phone()
- get_picture()
- get_postcode()
- get_registered()
- get_state()
- get_street()
- get_username()
- get_zipcode()

In [117]:
%pip install randomuser
%pip install pandas

Collecting randomuser
  Downloading randomuser-1.6.tar.gz (5.0 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: randomuser
  Building wheel for randomuser (setup.py): started
  Building wheel for randomuser (setup.py): finished with status 'done'
  Created wheel for randomuser: filename=randomuser-1.6-py3-none-any.whl size=5092 sha256=dc0f0629df783840848560e5136cdeb26901fa0b425b834b81ec8eaa47ee0681
  Stored in directory: c:\users\sfauz\appdata\local\pip\cache\wheels\fc\8d\74\bcdd5e8a9433bfa4c4f9c1cccbfec40139322a28d77f61e45e
Successfully built randomuser
Installing collected packages: randomuser
Successfully installed randomuser-1.6
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: pandas in c:\users\sfauz\anaconda3\lib\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.23.2 in c:\users\sfauz\anaconda3\lib\site-packages (from pandas) (2.3.5)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\sfauz\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\sfauz\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\sfauz\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\sfauz\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [118]:
from randomuser import RandomUser
import pandas as pd

In [119]:
r = RandomUser()
some_list = r.generate_users(10)

In [ ]:
name = r.get_full_name() # Returns the name of the one random user generated

In [121]:
for user in some_list: # We can find the name and email of the 10 users generated in the list
    print (user.get_full_name()," ",user.get_email())

Angie Bishop   angie.bishop@example.com
Eeli Jokela   eeli.jokela@example.com
Mila Wilson   mila.wilson@example.com
Selma Rønningen   selma.ronningen@example.com
Volkan Akgül   volkan.akgul@example.com
Lena Fleming   lena.fleming@example.com
Adalbert Willms   adalbert.willms@example.com
Keira Van Gorsel   keira.vangorsel@example.com
Cristina Ferrer   cristina.ferrer@example.com
Gundel Seemann   gundel.seemann@example.com

In [123]:
photo = r.get_picture()

In [ ]:
for user in some_list:
    print(user.get_picture()) # Can also get their images

https://randomuser.me/api/portraits/women/28.jpg
https://randomuser.me/api/portraits/men/92.jpg
https://randomuser.me/api/portraits/women/81.jpg
https://randomuser.me/api/portraits/women/59.jpg
https://randomuser.me/api/portraits/men/15.jpg
https://randomuser.me/api/portraits/women/32.jpg
https://randomuser.me/api/portraits/men/3.jpg
https://randomuser.me/api/portraits/women/80.jpg
https://randomuser.me/api/portraits/women/75.jpg
https://randomuser.me/api/portraits/women/37.jpg

In [125]:
def get_users():
    users =[]
     
    for user in RandomUser.generate_users(10):
        users.append({"Name":user.get_full_name(),"Gender":user.get_gender(),"City":user.get_city(),"State":user.get_state(),"Email":user.get_email(), "DOB":user.get_dob(),"Picture":user.get_picture()})
      
    return pd.DataFrame(users)

In [ ]:
get_users() # Puts all the information into a table

,Name,Gender,City,State,Email,DOB,Picture
0,Lourdes Gil,female,Alcalá de Henares,Galicia,lourdes.gil@example.com,1973-05-23T10:59:00.072Z,https://randomuser.me/api/portraits/women/12.jpg
1,Erin Garrett,female,Gladstone,Victoria,erin.garrett@example.com,1946-01-17T17:10:58.466Z,https://randomuser.me/api/portraits/women/17.jpg
2,Gudula Schneider,female,Hohen Neuendorf,Hamburg,gudula.schneider@example.com,1973-12-07T02:45:57.459Z,https://randomuser.me/api/portraits/women/70.jpg
3,Edward Long,male,Chester,Northamptonshire,edward.long@example.com,1981-05-27T23:49:28.561Z,https://randomuser.me/api/portraits/men/22.jpg
4,Jake Walker,male,Blenheim,Manawatu-Wanganui,jake.walker@example.com,1969-07-03T11:03:59.814Z,https://randomuser.me/api/portraits/men/79.jpg
5,Elizabeth Howell,female,Lakewood,Florida,elizabeth.howell@example.com,1981-08-06T09:14:14.372Z,https://randomuser.me/api/portraits/women/70.jpg
6,Virgil Vargas,male,Aurora,Ohio,virgil.vargas@example.com,1955-11-07T00:15:14.309Z,https://randomuser.me/api/portraits/men/73.jpg
7,Henry Stevens,male,Reno,North Carolina,henry.stevens@example.com,1976-08-18T18:15:25.504Z,https://randomuser.me/api/portraits/men/65.jpg
8,Juana Gallego,female,Zaragoza,Extremadura,juana.gallego@example.com,1968-08-16T14:58:28.154Z,https://randomuser.me/api/portraits/women/15.jpg
9,Kamilla Storli,female,Miland,Akershus,kamilla.storli@example.com,1968-01-06T18:17:18.638Z,https://randomuser.me/api/portraits/women/2.jpg

In [127]:
df1 = pd.DataFrame(get_users())  # Makes that table into a df

Example 2: Fruityvice API

Another, more common way to use APIs, is through requests library. The next lab, Requests and HTTP, will contain more information about requests.

We will start by importing all required libraries.

In [128]:
import requests
import json

In [129]:
data = requests.get("https://web.archive.org/web/20240929211114/https://fruityvice.com/api/fruit/all") # This is how we get the fruityvice api

In [ ]:
results = json.loads(data.text) # This retrieves the data from the request

In [131]:
pd.DataFrame(results)

,name,id,family,order,genus,nutritions
0,Persimmon,52,Ebenaceae,Rosales,Diospyros,"{'calories': 81, 'fat': 0.0, 'sugar': 18.0, 'c..."
1,Strawberry,3,Rosaceae,Rosales,Fragaria,"{'calories': 29, 'fat': 0.4, 'sugar': 5.4, 'ca..."
2,Banana,1,Musaceae,Zingiberales,Musa,"{'calories': 96, 'fat': 0.2, 'sugar': 17.2, 'c..."
3,Tomato,5,Solanaceae,Solanales,Solanum,"{'calories': 74, 'fat': 0.2, 'sugar': 2.6, 'ca..."
4,Pear,4,Rosaceae,Rosales,Pyrus,"{'calories': 57, 'fat': 0.1, 'sugar': 10.0, 'c..."
5,Durian,60,Malvaceae,Malvales,Durio,"{'calories': 147, 'fat': 5.3, 'sugar': 6.75, '..."
6,Blackberry,64,Rosaceae,Rosales,Rubus,"{'calories': 40, 'fat': 0.4, 'sugar': 4.5, 'ca..."
7,Lingonberry,65,Ericaceae,Ericales,Vaccinium,"{'calories': 50, 'fat': 0.34, 'sugar': 5.74, '..."
8,Kiwi,66,Actinidiaceae,Struthioniformes,Apteryx,"{'calories': 61, 'fat': 0.5, 'sugar': 9.0, 'ca..."
9,Lychee,67,Sapindaceae,Sapindales,Litchi,"{'calories': 66, 'fat': 0.44, 'sugar': 15.0, '..."
10,Pineapple,10,Bromeliaceae,Poales,Ananas,"{'calories': 50, 'fat': 0.12, 'sugar': 9.85, '..."
11,Fig,68,Moraceae,Rosales,Ficus,"{'calories': 74, 'fat': 0.3, 'sugar': 16.0, 'c..."
12,Gooseberry,69,Grossulariaceae,Saxifragales,Ribes,"{'calories': 44, 'fat': 0.6, 'sugar': 0.0, 'ca..."
13,Passionfruit,70,Passifloraceae,Malpighiales,Passiflora,"{'calories': 97, 'fat': 0.7, 'sugar': 11.2, 'c..."
14,Plum,71,Rosaceae,Rosales,Prunus,"{'calories': 46, 'fat': 0.28, 'sugar': 9.92, '..."
15,Orange,2,Rutaceae,Sapindales,Citrus,"{'calories': 43, 'fat': 0.2, 'sugar': 8.2, 'ca..."
16,GreenApple,72,Rosaceae,Rosales,Malus,"{'calories': 21, 'fat': 0.1, 'sugar': 6.4, 'ca..."
17,Raspberry,23,Rosaceae,Rosales,Rubus,"{'calories': 53, 'fat': 0.7, 'sugar': 4.4, 'ca..."
18,Watermelon,25,Cucurbitaceae,Cucurbitales,Citrullus,"{'calories': 30, 'fat': 0.2, 'sugar': 6.0, 'ca..."
19,Lemon,26,Rutaceae,Sapindales,Citrus,"{'calories': 29, 'fat': 0.3, 'sugar': 2.5, 'ca..."
20,Mango,27,Anacardiaceae,Sapindales,Mangifera,"{'calories': 60, 'fat': 0.38, 'sugar': 13.7, '..."
21,Blueberry,33,Rosaceae,Rosales,Fragaria,"{'calories': 29, 'fat': 0.4, 'sugar': 5.4, 'ca..."
22,Apple,6,Rosaceae,Rosales,Malus,"{'calories': 52, 'fat': 0.4, 'sugar': 10.3, 'c..."
23,Guava,37,Myrtaceae,Myrtales,Psidium,"{'calories': 68, 'fat': 1.0, 'sugar': 9.0, 'ca..."
24,Apricot,35,Rosaceae,Rosales,Prunus,"{'calories': 15, 'fat': 0.1, 'sugar': 3.2, 'ca..."
25,Melon,41,Cucurbitaceae,Cucurbitaceae,Cucumis,"{'calories': 34, 'fat': 0.0, 'sugar': 8.0, 'ca..."
26,Tangerine,77,Rutaceae,Sapindales,Citrus,"{'calories': 45, 'fat': 0.4, 'sugar': 9.1, 'ca..."
27,Pitahaya,78,Cactaceae,Caryophyllales,Cactaceae,"{'calories': 36, 'fat': 0.4, 'sugar': 3.0, 'ca..."
28,Lime,44,Rutaceae,Sapindales,Citrus,"{'calories': 25, 'fat': 0.1, 'sugar': 1.7, 'ca..."
29,Pomegranate,79,Lythraceae,Myrtales,Punica,"{'calories': 83, 'fat': 1.2, 'sugar': 13.7, 'c..."
30,Dragonfruit,80,Cactaceae,Caryophyllales,Selenicereus,"{'calories': 60, 'fat': 1.5, 'sugar': 8.0, 'ca..."
31,Grape,81,Vitaceae,Vitales,Vitis,"{'calories': 69, 'fat': 0.16, 'sugar': 16.0, '..."
32,Morus,82,Moraceae,Rosales,Morus,"{'calories': 43, 'fat': 0.39, 'sugar': 8.1, 'c..."
33,Feijoa,76,Myrtaceae,Myrtoideae,Sellowiana,"{'calories': 44, 'fat': 0.4, 'sugar': 3.0, 'ca..."
34,Avocado,84,Lauraceae,Laurales,Persea,"{'calories': 160, 'fat': 14.66, 'sugar': 0.66,..."
35,Kiwifruit,85,Actinidiaceae,Ericales,Actinidia,"{'calories': 61, 'fat': 0.5, 'sugar': 8.9, 'ca..."
36,Cranberry,87,Ericaceae,Ericales,Vaccinium,"{'calories': 46, 'fat': 0.1, 'sugar': 4.0, 'ca..."
37,Cherry,9,Rosaceae,Rosales,Prunus,"{'calories': 50, 'fat': 0.3, 'sugar': 8.0, 'ca..."
38,Peach,86,Rosaceae,Rosales,Prunus,"{'calories': 39, 'fat': 0.25, 'sugar': 8.4, 'c..."
39,Jackfruit,94,Moraceae,Rosales,Artocarpus,"{'calories': 95, 'fat': 0.0, 'sugar': 19.1, 'c..."
40,Horned Melon,95,Cucurbitaceae,Cucurbitales,Cucumis,"{'calories': 44, 'fat': 1.26, 'sugar': 0.5, 'c..."
41,Hazelnut,96,Betulaceae,Fagales,Corylus,"{'calories': 628, 'fat': 61.0, 'sugar': 4.3, '..."
42,Pomelo,98,Rutaceae,Sapindales,Citrus,"{'calories': 37, 'fat': 0.0, 'sugar': 8.5, 'ca..."
43,Mangosteen,99,Clusiaceae,Malpighiales,Garcinia,"{'calories': 73, 'fat': 0.58, 'sugar': 16.11, ..."
44,Pumpkin,100,Cucurbitaceae,Cucurbitales,Cucurbita,"{'calories': 25, 'fat': 0.3, 'sugar': 3.3, 'ca..."
45,Japanese Persimmon,101,Ebenaceae,Ericales,Diospyros,"{'calories': 70, 'fat': 0.2, 'sugar': 13.0, 'c..."
46,Papaya,42,Caricaceae,Brassicales,Carica,"{'calories': 39, 'fat': 0.3, 'sugar': 4.4, 'ca..."
47,Annona,103,Annonaceae,Rosales,Annonas,"{'calories': 92, 'fat': 0.29, 'sugar': 3.4, 'c..."
48,Ceylon Gooseberry,104,Salicaceae,Malpighiales,Dovyalis,"{'calories': 47, 'fat': 0.3, 'sugar': 8.1, 'ca..."

In [ ]:
df2 = pd.json_normalize(results) # Splits up the last nutrition columns to their own ones

In [135]:
cherry = df2.loc[df2["name"] == 'Cherry']
(cherry.iloc[0]['family']) , (cherry.iloc[0]['genus']) # Extract specific values from the dataframe

banana = df2.loc[df2['name'] == 'Banana']
(banana.iloc[0]['nutritions.calories'])

96

Exercise 3

This page contains a list of free public APIs for you to practice. Let us deal with the following example.
Official Joke API

This API returns random jokes from a database. The following URL can be used to retrieve 10 random jokes.

https://official-joke-api.appspot.com/jokes/ten

In [140]:
data2 = requests.get("https://official-joke-api.appspot.com/jokes/ten")
results = json.loads(data2.text) 
pd.DataFrame(results)

,type,setup,punchline,id
0,general,What do you call a careful wolf?,Aware wolf.,194
1,general,What do you call a duck that gets all A's?,A wise quacker.,202
2,general,Did you know crocodiles could grow up to 15 feet?,But most just have 4.,101
3,general,What do you call a pig that knows karate?,A pork chop!,212
4,general,Did you hear about the crime in the parking ga...,It was wrong on so many levels.,394
5,general,Did you hear about the Viking who was reincarn...,He was Bjorn again,392
6,programming,A DHCP packet walks into a bar and asks for a ...,"Bartender says, ""here, but I’ll need that back...",368
7,general,did you know the first French fries weren't co...,they were cooked in Greece,31
8,general,What do you give a sick lemon?,Lemonaid.,233
9,general,Why does a Moon-rock taste better than an Eart...,Because it's a little meteor.,357

# **Web Scraping Lab**


After completing this lab you will be:

* Familiar with the basics of the `BeautifulSoup` Python library 
* Be able to scrape webpages for data and filter the data

In [141]:
%pip install bs4
%pip install requests pandas

Note: you may need to restart the kernel to use updated packages.

WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ProtocolError('Connection aborted.', ConnectionResetError(10054, 'An existing connection was forcibly closed by the remote host', None, 10054, None))': /simple/bs4/
WARNING: Retrying (Retry(total=3, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ProtocolError('Connection aborted.', ConnectionResetError(10054, 'An existing connection was forcibly closed by the remote host', None, 10054, None))': /simple/bs4/
WARNING: Retrying (Retry(total=2, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ProtocolError('Connection aborted.', ConnectionResetError(10054, 'An existing connection was forcibly closed by the remote host', None, 10054, None))': /simple/bs4/
WARNING: Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ProtocolError('Connection aborted.', ConnectionResetError(10054, 'An existing connection was forcibly closed by the remote host', None, 10054, None))': /simple/bs4/
WARNING: Retrying (Retry(total=0, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ProtocolError('Connection aborted.', ConnectionResetError(10054, 'An existing connection was forcibly closed by the remote host', None, 10054, None))': /simple/bs4/
ERROR: Could not find a version that satisfies the requirement bs4 (from versions: none)
ERROR: No matching distribution found for bs4

Requirement already satisfied: requests in c:\users\sfauz\anaconda3\lib\site-packages (2.32.5)
Requirement already satisfied: pandas in c:\users\sfauz\anaconda3\lib\site-packages (2.3.3)
Requirement already satisfied: charset_normalizer<4,>=2 in c:\users\sfauz\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\sfauz\anaconda3\lib\site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\sfauz\anaconda3\lib\site-packages (from requests) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\sfauz\anaconda3\lib\site-packages (from requests) (2024.2.2)
Requirement already satisfied: numpy>=1.23.2 in c:\users\sfauz\anaconda3\lib\site-packages (from pandas) (2.3.5)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\sfauz\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\sfauz\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\sfauz\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\sfauz\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
from bs4 import BeautifulSoup # this module helps in web scrapping.
import requests  # this module helps us to download a web page

In [1]:
html="<!DOCTYPE html><html><head><title>Page Title</title></head><body><h3><b id='boldest'>Lebron James</b></h3><p> Salary: $ 92,000,000 </p><h3> Stephen Curry</h3><p> Salary: $85,000, 000 </p><h3> Kevin Durant </h3><p> Salary: $73,200, 000</p></body></html>"

In [4]:
soup = BeautifulSoup(html, 'html.parser')
print(soup.prettify())

<!DOCTYPE html>
<html>
 <head>
  <title>
   Page Title
  </title>
 </head>
 <body>
  <h3>
   <b id="boldest">
    Lebron James
   </b>
  </h3>
  <p>
   Salary: $ 92,000,000
  </p>
  <h3>
   Stephen Curry
  </h3>
  <p>
   Salary: $85,000, 000
  </p>
  <h3>
   Kevin Durant
  </h3>
  <p>
   Salary: $73,200, 000
  </p>
 </body>
</html>

In [ ]:
tag_object=soup.title # Finds the title tag
print("tag object:",tag_object)

tag object: <title>Page Title</title>

In [ ]:
tag_object=soup.h3 # Finds the FIRST h3 tag
tag_object

In [ ]:
tag_child =tag_object.b # Finds the bold tag
tag_child

In [151]:
parent_tag=tag_child.parent # Finds parent of the bold tag which is the h3 tag.
parent_tag

In [ ]:
sibling_1=tag_object.next_sibling # The paragraph tag is a sibling of the h3 tag.
sibling_1

sibling_2=sibling_1.next_sibling
sibling_2

sibling_3 = sibling_2.next_sibling # Get Steph's salary
sibling_3

In [ ]:
tag_string=tag_child.string # Returns the string
tag_string

'Lebron James'

HTML TABLES

In [156]:
table="<table><tr><td id='flight'>Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr> <td>1</td><td><a href='https://en.wikipedia.org/wiki/Florida'>Florida<a></td><td>300 kg</td></tr><tr><td>2</td><td><a href='https://en.wikipedia.org/wiki/Texas'>Texas</a></td><td>94 kg</td></tr><tr><td>3</td><td><a href='https://en.wikipedia.org/wiki/Florida'>Florida<a> </td><td>80 kg</td></tr></table>"

In [157]:
table_bs = BeautifulSoup(table, 'html.parser')

In [ ]:
table_rows=table_bs.find_all('tr') # Gets all the rows of the HTML Tables
table_rows

[<tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr>,
 <tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a></td><td>300 kg</td></tr>,
 <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>,
 <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a></td><td>80 kg</td></tr>]

In [ ]:
first_row =table_rows[0] # Finds the first row
first_row

In [164]:
for i,row in enumerate(table_rows):
    print("row",i)
    cells=row.find_all('td')
    for j,cell in enumerate(cells):
        print('colunm',j,"cell",cell)

row 0
colunm 0 cell <td id="flight">Flight No</td>
colunm 1 cell <td>Launch site</td>
colunm 2 cell <td>Payload mass</td>
row 1
colunm 0 cell <td>1</td>
colunm 1 cell <td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a></td>
colunm 2 cell <td>300 kg</td>
row 2
colunm 0 cell <td>2</td>
colunm 1 cell <td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td>
colunm 2 cell <td>94 kg</td>
row 3
colunm 0 cell <td>3</td>
colunm 1 cell <td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a></td>
colunm 2 cell <td>80 kg</td>

In [ ]:
list_input=table_bs .find_all(name=["tr", "td"])
list_input

[<td id="flight">Flight No</td>,
 <td>Launch site</td>,
 <td>Payload mass</td>,
 <td>1</td>,
 <td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a></td>,
 <a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a>,
 <a></a>,
 <td>300 kg</td>,
 <td>2</td>,
 <td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td>,
 <a href="https://en.wikipedia.org/wiki/Texas">Texas</a>,
 <td>94 kg</td>,
 <td>3</td>,
 <td><a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a></td>,
 <a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a>,
 <a> </a>,
 <td>80 kg</td>]

In [166]:
list_input=table_bs.find_all(href="https://en.wikipedia.org/wiki/Florida")
list_input

[<a href="https://en.wikipedia.org/wiki/Florida">Florida<a></a></a>,
 <a href="https://en.wikipedia.org/wiki/Florida">Florida<a> </a></a>]

In [ ]:
table_bs.find_all(lambda tag: tag.name != "a" and not tag.find('a')) # Finds all elements that do not contain links

[<tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr>,
 <td id="flight">Flight No</td>,
 <td>Launch site</td>,
 <td>Payload mass</td>,
 <td>1</td>,
 <td>300 kg</td>,
 <td>2</td>,
 <td>94 kg</td>,
 <td>3</td>,
 <td>80 kg</td>]

In [ ]:
soup.find_all(id = 'boldest') # Finds only the boldest

In [ ]:
table_bs.find_all(string="Florida") # Finds how many times Florida is mentioned

['Florida', 'Florida']

In [182]:
two_tables="<h3>Rocket Launch </h3><p><table class='rocket'><tr><td>Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr><td>1</td><td>Florida</td><td>300 kg</td></tr><tr><td>2</td><td>Texas</td><td>94 kg</td></tr><tr><td>3</td><td>Florida </td><td>80 kg</td></tr></table></p><p><h3>Pizza Party  </h3><table class='pizza'><tr><td>Pizza Place</td><td>Orders</td> <td>Slices </td></tr><tr><td>Domino's Pizza</td><td>10</td><td>100</td></tr><tr><td>Little Caesars</td><td>12</td><td >144 </td></tr><tr><td>Papa John's </td><td>15 </td><td>165</td></tr>"

In [183]:
two_tables_bs= BeautifulSoup(two_tables, 'html.parser')

In [ ]:
two_tables_bs.find("table") # Finds the first table

<table class="rocket"><tr><td>Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr><td>1</td><td>Florida</td><td>300 kg</td></tr><tr><td>2</td><td>Texas</td><td>94 kg</td></tr><tr><td>3</td><td>Florida </td><td>80 kg</td></tr></table>

In [ ]:
two_tables_bs.find("table",class_='pizza') # Finds the second table with class

<table class="pizza"><tr><td>Pizza Place</td><td>Orders</td> <td>Slices </td></tr><tr><td>Domino's Pizza</td><td>10</td><td>100</td></tr><tr><td>Little Caesars</td><td>12</td><td>144 </td></tr><tr><td>Papa John's </td><td>15 </td><td>165</td></tr></table>

In [186]:
url = "http://www.ibm.com"
data  = requests.get(url).text

In [187]:
soup = BeautifulSoup(data,"html.parser")  # create a soup object using the variable 'data'

In [ ]:
for link in soup.find_all('a',href=True):  # Finds all the links in a web page

    print(link.get('href'))

https://www.ibm.com/products/offers-and-discounts?lnk=hpls1uk
https://event.on24.com/wcc/r/5122905/A249C9E74D2837BBD492586891F343D3?lnk=hprc1uk
https://www.ibm.com/products/cognos-analytics#choose-the-right-plan?lnk=hprc2uk
https://www.ibm.com/new/announcements/ibm-named-a-leader-in-the-forrester-wave-integration-platform-as-a-service?lnk=hprc3uk
https://ibm.webcasts.com/starthere.jsp?ei=1737914&tp_key=6cff7c21c0?lnk=hprc4uk
https://www.ibm.com/community/ibm-techxchange-conference/?lnk=hpdev1us
https://github.com/ibm-granite-community/granite-snack-cookbook?lnk=hpdev2us
https://developer.ibm.com/technologies/artificial-intelligence/?lnk=hpdev3us
https://www.ibm.com/account/reg/signup?formid=urx-51898&lnk=hpdev4us
https://www.ibm.com/uk-en/new/announcements/openai-s-open-source-models-available-on-ibm-watsonx-ai?lnk=hpdev5us
https://research.ibm.com/blog/granite-vision-ocr-leaderboard?lnk=hpdev6us
https://www.ibm.com/uk-en/new/announcements/governing-ai-with-confidence-our-journey-with-watsonx-governance?lnk=hpdev7us
https://www.ibm.com/products/watsonx-code-assistant/pricing?lnk=hpdev8us
https://www.ibm.com/products/offers-and-discounts?lnk=hppr1uk
https://www.ibm.com/software?lnk=hpfp1uk
https://www.ibm.com/solutions/artificial-intelligence?lnk=UKProdC
https://www.ibm.com/granite?lnk=UKProdC
https://www.ibm.com/consulting?lnk=UKProdC
https://www.ibm.com/solutions/analytics?lnk=UKProdC
https://www.ibm.com/solutions/automation?lnk=UKProdC
https://www.ibm.com/solutions/servers?lnk=UKProdC
https://www.ibm.com/solutions/database?lnk=UKProdC
https://www.ibm.com/solutions/security?lnk=UKProdC
https://www.ibm.com/uk-en/about?lnk=hpii1us
https://www.ibm.com/uk-en/history?lnk=hpii1us
https://research.ibm.com?lnk=hpii1us
https://www.ibm.com/quantum?lnk=hpii1us
https://www.ibm.com/uk-en/careers?lnk=hpii1us
https://skillsbuild.org?lnk=hpii1us
https://uk.newsroom.ibm.com/2025-cost-of-data-breach-UK
https://uk.newsroom.ibm.com/announcements?item=122883
https://uk.newsroom.ibm.com/announcements?item=122891
https://uk.newsroom.ibm.com/ai-productivity-survey-2025
https://uk.newsroom.ibm.com/growing-customer-acceptance-of-ai-in-uk
https://uk.newsroom.ibm.com/announcements?item=122887
https://uk.newsroom.ibm.com/announcements?item=122886
https://uk.newsroom.ibm.com/german-japanese-space-agencies-achieve-robotics-milestone-aboard-international-space-station

In [189]:
for link in soup.find_all('img'):# Finds all images in a web page
    print(link)
    print(link.get('src'))

<img alt="3D render of a futuristic device connected to chat bubbles and graphs" class="cmp-image__image" height="2160" itemprop="contentUrl" loading="lazy" src="https://assets.ibm.com/is/image/ibm/control-visibility_iso_16x9?ts=1763747725305&amp;dpr=off" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" title="Isometric circuit board with digital interface" width="3840"/>
https://assets.ibm.com/is/image/ibm/control-visibility_iso_16x9?ts=1763747725305&dpr=off
<img alt="Illustration of people analyzing data and graphs on a digital screen" class="cmp-image__image" height="1200" itemprop="contentUrl" loading="lazy" src="https://assets.ibm.com/is/image/ibm/cognos-analytics_features-page_dco-native?ts=1763747867093&amp;dpr=off" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" title="Team analyzing data on large digital screen" width="1200"/>
https://assets.ibm.com/is/image/ibm/cognos-analytics_features-page_dco-native?ts=1763747867093&dpr=off
<img alt="Illustration of a bearded man using a laptop, surrounded by icons related to data analysis, research and communication" class="cmp-image__image" height="865" itemprop="contentUrl" loading="lazy" src="/adobe/dynamicmedia/deliver/dm-aid--c7ba982d-003a-4114-a0c1-9116d7778d0b/forester-report-leadspace-3.png?quality=90&amp;preferwebp=true" width="1312"/>
/adobe/dynamicmedia/deliver/dm-aid--c7ba982d-003a-4114-a0c1-9116d7778d0b/forester-report-leadspace-3.png?quality=90&preferwebp=true
<img alt="Abstract 3D render of various blue square shapes on a light background" class="cmp-image__image" height="768" itemprop="contentUrl" loading="lazy" src="https://assets.ibm.com/is/image/ibm/1497-agentic-ai-s-strategic-ascent_768x768?ts=1763747945822&amp;dpr=off" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" title="Abstract gradient squares on dotted background" width="768"/>
https://assets.ibm.com/is/image/ibm/1497-agentic-ai-s-strategic-ascent_768x768?ts=1763747945822&dpr=off
<img alt="Illustration of shopping bag" class="cmp-image__image" height="329" itemprop="contentUrl" loading="lazy" src="https://assets.ibm.com/is/image/ibm/bigblue30-1200x1200?ts=1763747976133&amp;dpr=off" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" title="Minimalist shopping bag design in blue tones" width="329"/>
https://assets.ibm.com/is/image/ibm/bigblue30-1200x1200?ts=1763747976133&dpr=off
<img alt="Illustration of an eye with connecting lines to data" class="cmp-image__image" height="2961" itemprop="contentUrl" loading="lazy" src="https://assets.ibm.com/is/image/ibm/watson-discovery_eye-connection_1x1_padding?ts=1758917851921&amp;dpr=off" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" width="2961"/>
https://assets.ibm.com/is/image/ibm/watson-discovery_eye-connection_1x1_padding?ts=1758917851921&dpr=off

In [ ]:
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/HTMLColorCodes.html"
data  = requests.get(url).text
soup = BeautifulSoup(data,"html.parser")
table = soup.find('table')

<table border="1" class="main-table">
<tr>
<td>Number </td>
<td>Color</td>
<td>Color Name</td>
<td>Hex Code<br/>#RRGGBB</td>
<td>Decimal Code<br/>(R,G,B)</td>
</tr>
<tr>
<td>1</td>
<td style="background:lightsalmon;"> </td>
<td>lightsalmon</td>
<td>#FFA07A</td>
<td>rgb(255,160,122)</td>
</tr>
<tr>
<td>2</td>
<td style="background:salmon;"> </td>
<td>salmon</td>
<td>#FA8072</td>
<td>rgb(250,128,114)</td>
</tr>
<tr>
<td>3</td>
<td style="background:darksalmon;"> </td>
<td>darksalmon</td>
<td>#E9967A</td>
<td>rgb(233,150,122)</td>
</tr>
<tr>
<td>4</td>
<td style="background:lightcoral;"> </td>
<td>lightcoral</td>
<td>#F08080</td>
<td>rgb(240,128,128)</td>
</tr>
<tr>
<td>5</td>
<td style="background:coral;"> </td>
<td>coral</td>
<td>#FF7F50</td>
<td>rgb(255,127,80)</td>
</tr>
<tr>
<td>6</td>
<td style="background:tomato;"> </td>
<td>tomato</td>
<td>#FF6347</td>
<td>rgb(255,99,71)</td>
</tr>
<tr>
<td>7</td>
<td style="background:orangered;"> </td>
<td>orangered</td>
<td>#FF4500</td>
<td>rgb(255,69,0)</td>
</tr>
<tr>
<td>8</td>
<td style="background:gold;"> </td>
<td>gold</td>
<td>#FFD700</td>
<td>rgb(255,215,0)</td>
</tr>
<tr>
<td>9</td>
<td style="background:orange;"> </td>
<td>orange</td>
<td>#FFA500</td>
<td>rgb(255,165,0)</td>
</tr>
<tr>
<td>10</td>
<td style="background:darkorange;"> </td>
<td>darkorange</td>
<td>#FF8C00</td>
<td>rgb(255,140,0)</td>
</tr>
<tr>
<td>11</td>
<td style="background:lightyellow;"> </td>
<td>lightyellow</td>
<td>#FFFFE0</td>
<td>rgb(255,255,224)</td>
</tr>
<tr>
<td>12</td>
<td style="background:lemonchiffon;"> </td>
<td>lemonchiffon</td>
<td>#FFFACD</td>
<td>rgb(255,250,205)</td>
</tr>
<tr>
<td>13</td>
<td style="background:papayawhip;"> </td>
<td>papayawhip</td>
<td>#FFEFD5</td>
<td>rgb(255,239,213)</td>
</tr>
<tr>
<td>14</td>
<td style="background:moccasin;"> </td>
<td>moccasin</td>
<td>#FFE4B5</td>
<td>rgb(255,228,181)</td>
</tr>
<tr>
<td>15</td>
<td style="background:peachpuff;"> </td>
<td>peachpuff</td>
<td>#FFDAB9</td>
<td>rgb(255,218,185)</td>
</tr>
<tr>
<td>16</td>
<td style="background:palegoldenrod;"> </td>
<td>palegoldenrod</td>
<td>#EEE8AA</td>
<td>rgb(238,232,170)</td>
</tr>
<tr>
<td>17</td>
<td style="background:khaki;"> </td>
<td>khaki</td>
<td>#F0E68C</td>
<td>rgb(240,230,140)</td>
</tr>
<tr>
<td>18</td>
<td style="background:darkkhaki;"> </td>
<td>darkkhaki</td>
<td>#BDB76B</td>
<td>rgb(189,183,107)</td>
</tr>
<tr>
<td>19</td>
<td style="background:yellow;"> </td>
<td>yellow</td>
<td>#FFFF00</td>
<td>rgb(255,255,0)</td>
</tr>
<tr>
<td>20</td>
<td style="background:lawngreen;"> </td>
<td>lawngreen</td>
<td>#7CFC00</td>
<td>rgb(124,252,0)</td>
</tr>
<tr>
<td>21</td>
<td style="background:chartreuse;"> </td>
<td>chartreuse</td>
<td>#7FFF00</td>
<td>rgb(127,255,0)</td>
</tr>
<tr>
<td>22</td>
<td style="background:limegreen;"> </td>
<td>limegreen</td>
<td>#32CD32</td>
<td>rgb(50,205,50)</td>
</tr>
<tr>
<td>23</td>
<td style="background:lime;"> </td>
<td>lime</td>
<td>#00FF00</td>
<td>rgb(0.255.0)</td>
</tr>
<tr>
<td>24</td>
<td style="background:forestgreen;"> </td>
<td>forestgreen</td>
<td>#228B22</td>
<td>rgb(34,139,34)</td>
</tr>
<tr>
<td>25</td>
<td style="background:green;"> </td>
<td>green</td>
<td>#008000</td>
<td>rgb(0,128,0)</td>
</tr>
<tr>
<td>26</td>
<td style="background:powderblue;"> </td>
<td>powderblue</td>
<td>#B0E0E6</td>
<td>rgb(176,224,230)</td>
</tr>
<tr>
<td>27</td>
<td style="background:lightblue;"> </td>
<td>lightblue</td>
<td>#ADD8E6</td>
<td>rgb(173,216,230)</td>
</tr>
<tr>
<td>28</td>
<td style="background:lightskyblue;"> </td>
<td>lightskyblue</td>
<td>#87CEFA</td>
<td>rgb(135,206,250)</td>
</tr>
<tr>
<td>29</td>
<td style="background:skyblue;"> </td>
<td>skyblue</td>
<td>#87CEEB</td>
<td>rgb(135,206,235)</td>
</tr>
<tr>
<td>30</td>
<td style="background:deepskyblue;"> </td>
<td>deepskyblue</td>
<td>#00BFFF</td>
<td>rgb(0,191,255)</td>
</tr>
<tr>
<td>31</td>
<td style="background:lightsteelblue;"> </td>
<td>lightsteelblue</td>
<td>#B0C4DE</td>
<td>rgb(176,196,222)</td>
</tr>
<tr>
<td>32</td>
<td style="background:dodgerblue;"> </td>
<td>dodgerblue</td>
<td>#1E90FF</td>
<td>rgb(30,144,255)</td>
</tr>
</table>

In [195]:
for row in table.find_all('tr'): # in html table row is represented by the tag <tr>
    # Get all columns in each row.
    cols = row.find_all('td') # in html a column is represented by the tag <td>
    color_name = cols[2].string # store the value in column 3 as color_name
    color_code = cols[3].string # store the value in column 4 as color_code
    print("{}--->{}".format(color_name,color_code))

Color Name--->None
lightsalmon--->#FFA07A
salmon--->#FA8072
darksalmon--->#E9967A
lightcoral--->#F08080
coral--->#FF7F50
tomato--->#FF6347
orangered--->#FF4500
gold--->#FFD700
orange--->#FFA500
darkorange--->#FF8C00
lightyellow--->#FFFFE0
lemonchiffon--->#FFFACD
papayawhip--->#FFEFD5
moccasin--->#FFE4B5
peachpuff--->#FFDAB9
palegoldenrod--->#EEE8AA
khaki--->#F0E68C
darkkhaki--->#BDB76B
yellow--->#FFFF00
lawngreen--->#7CFC00
chartreuse--->#7FFF00
limegreen--->#32CD32
lime--->#00FF00
forestgreen--->#228B22
green--->#008000
powderblue--->#B0E0E6
lightblue--->#ADD8E6
lightskyblue--->#87CEFA
skyblue--->#87CEEB
deepskyblue--->#00BFFF
lightsteelblue--->#B0C4DE
dodgerblue--->#1E90FF