# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystems are sumamrised.

**Objectives:**
- List popular languages that data scientists use.
- List commonly used libaries used by Data Scientists.
- Code simple arithmatic expression in Python.
- Learn to use markdown and RichText formatting.

### Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

### Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Scikit-learn
3. Matplotlib

| Data Science Tools |
| --- |
| MySQL |
| Apache Airflow |
| Kibana |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [2]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [3]:
200 / 60

3.3333333333333335

## Author
Sabilus Fauzer