# Working with a real world data-set using SQL and Python

## Objectives

After completing this lab you will be able to:

*   Understand the dataset for Chicago Public School level performance
*   Store the dataset in SQLite database.
*   Retrieve metadata about tables and columns and query data from mixed case columns
*   Solve example problems to practice your SQL skills including using built-in database functions

In [ ]:
import csv, sqlite3

con = sqlite3.connect("RealWorldData.db")
cur = con.cursor()

In [ ]:
%pip install pandas
%pip install ipython-sql prettytable

import prettytable
prettytable.DEFAULT = 'DEFAULT'

In [ ]:
%pip install ipython-sql
%load_ext sql

In [ ]:
%sql sqlite:///RealWorldData.db

In [ ]:
# Insert our CSV into the database
import pandas

df = pandas.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv")
df.to_sql("CHICAGO_PUBLIC_SCHOOLS_DATA", con, if_exists='replace', index=False, method="multi")

In [ ]:
# Check the tables and there seems to be one
%sql SELECT name FROM sqlite_master WHERE type='table'

In [ ]:
# Check Number of Columns
%sql SELECT count(name) FROM PRAGMA_TABLE_INFO('CHICAGO_PUBLIC_SCHOOLS_DATA');

In [ ]:
# Get a list of columns
%sql SELECT name,type,length(type) FROM PRAGMA_TABLE_INFO('CHICAGO_PUBLIC_SCHOOLS_DATA') ORDER BY name

In [ ]:
# How many Elementary Schools are in the dataset?
  
%sql SELECT count(*) FROM CHICAGO_PUBLIC_SCHOOLS_DATA WHERE `Elementary, Middle, or High School` = 'ES'

In [ ]:
# What is the highest Safety Score?
%sql SELECT MAX(SAFETY_SCORE) FROM CHICAGO_PUBLIC_SCHOOLS_DATA

In [ ]:
# Which schools have highest Safety Score?
%sql SELECT NAME_OF_SCHOOL FROM CHICAGO_PUBLIC_SCHOOLS_DATA WHERE SAFETY_SCORE = (SELECT MAX(SAFETY_SCORE) FROM CHICAGO_PUBLIC_SCHOOLS_DATA)

In [ ]:
# What are the top 10 schools with the highest "Average Student Attendance"?

%sql SELECT NAME_OF_SCHOOL FROM CHICAGO_PUBLIC_SCHOOLS_DATA ORDER BY SAFETY_SCORE DESC LIMIT 10

In [ ]:
# Retrieve the list of 5 Schools with the lowest Average Student Attendance sorted in ascending order based on attendance

%sql SELECT NAME_OF_SCHOOL FROM CHICAGO_PUBLIC_SCHOOLS_DATA ORDER BY AVERAGE_STUDENT_ATTENDANCE LIMIT 5

In [ ]:
# Now remove the '%' sign from the above result set for Average Student Attendance column

%sql SELECT Name_of_School, REPLACE(Average_Student_Attendance, '%', '') from CHICAGO_PUBLIC_SCHOOLS_DATA order by Average_Student_Attendance LIMIT 5

In [ ]:
# Which Schools have Average Student Attendance lower than 70%?

%sql SELECT NAME_OF_SCHOOL FROM CHICAGO_PUBLIC_SCHOOLS_DATA WHERE AVERAGE_STUDENT_ATTENDANCE < 70

In [ ]:
# Get the total College Enrollment for each Community Area

%sql SELECT COMMUNITY_AREA_NAME, SUM(COLLEGE_ENROLLMENT) FROM CHICAGO_PUBLIC_SCHOOLS_DATA GROUP BY COMMUNITY_AREA_NAME

In [ ]:
# Get the 5 Community Areas with the least total College Enrollment sorted in ascending order

%sql SELECT COMMUNITY_AREA_NAME, SUM(COLLEGE_ENROLLMENT) FROM CHICAGO_PUBLIC_SCHOOLS_DATA GROUP BY COMMUNITY_AREA_NAME ORDER BY SUM(COLLEGE_ENROLLMENT) LIMIT 5

In [ ]:
# List 5 schools with lowest safety score.

%sql SELECT NAME_OF_SCHOOL, SAFETY_SCORE FROM CHICAGO_PUBLIC_SCHOOLS_DATA WHERE SAFETY_SCORE != 'None' ORDER BY SAFETY_SCORE LIMIT 5

In [ ]:
# Get the hardship index for the community area of the school which has College Enrollment of 4368

df = pandas.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv")
df.to_sql("CENSUS_DATA", con, if_exists='replace', index=False,method="multi")

In [ ]:
%%sql
SELECT CD.community_area_number, CPS.COMMUNITY_AREA_NAME, CD.hardship_index, CPS.college_enrollment FROM CENSUS_DATA CD, CHICAGO_PUBLIC_SCHOOLS_DATA CPS 
WHERE CD.community_area_number = CPS.community_area_number 
AND college_enrollment = 4368